html{
    scroll-behavior: smooth;
}
body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  display: flex;
  flex: 1;
}
section {
  display: flex;
  flex-direction: column;
  
}
button{
    cursor: pointer;
}
/* headlines */
h1{
    margin: 0;
    font-size: 32px;
    color: white;
}
h2{
    color: white;
}
h3{
    font-size: 24px;
    margin-bottom: 8px;
}
h4{
    font-size: 24px;
    margin: 0;
}
h5{
    font-size: 24px;
    margin: 0;
}
h6{
    font-size: 32px;
    margin: 0;
}