.w-100 {
    width: 100%;
  }
  .mt-10 {
    margin-top: 10px;
  }
  .m-24 {
    margin: 0 24px;
  }
  .mb-8 {
    margin-bottom: 8px;
  }
  .oh{
    overflow: hidden;
  }
  .d-none{
    display: none;
  }
  .d-flex{
    display: flex;
  }