#pictureHead {
  display: flex;
  width: 100%;
  height: 300px;
  overflow: hidden;
  img {
    width: 100%;
    object-fit: cover;
  }
}
#logoSachsen {
  position: relative;
  left: 48px;
  top: -30px;
  width: 40px;
  border-radius: 5px;
}

#store {
  width: 100%;
  padding: 0 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#basket {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 8px;
}
#shortcuts {
  overflow-x: scroll;
  display: flex;
  button {
    background-color: transparent;
    border: none;
    padding: 0;
    box-sizing: border-box;
    min-width: 80px;
    height: 24px;
  }
  button:hover {
    background-color: rgba(211, 211, 211, 0.5);
    border-radius: 10px;
  }
  a {
    display: flex;
    text-align: center;
    justify-content: center;
    width: 100%;
    text-decoration: none;
    color: black;
  }
}
#shortcuts::-webkit-scrollbar{
  display: none;
}
#wagon {
  width: 30px;
}
#orderBasket {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  gap: 8px;
  box-sizing: border-box;
  overflow-y: scroll;
  max-height: 500px;
}

#btnOrder {
  border: none;
  font-size: 24px;
  font-weight: 800;
  background-color: orange;
  border-radius: 8px;
  color: white;
  width: 100%;
  margin-top: 30px;
}
#emptyBasket {
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 20px;
  img {
    width: 40px;
  }
}
#emptyBasketResponsive {
  height: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 20px;
  img {
    width: 40px;
  }
}
#responsiveBasket {
  z-index: 99;
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(172, 169, 168, 0.438);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#contentResponsiveBasket {
  gap: 12px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  max-height: 400px;
}
#responsiveBasketBtn {
  z-index: 999;
  position: sticky;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  border-radius: 20px;
  height: 50px;
  font-size: 32px;
  background-color: rgb(236, 117, 19);
  border: none;
}
#responsiveSum {
  margin-bottom: 12px;
}

#closeBtn{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  align-self: flex-end;
  margin: 20px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #f39f04; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #eb9a04; 
}