header {
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

#logo {
    display: flex;
    align-items: center;
  img {
    width: 40px;
  }
}
