/* header{
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    button{
        background-color: transparent;
        border:none;
    }
}
    */
#logo{
  width: 50px;
} 

nav{
    background-color: orange;
}
.navbar-brand {
    display: flex;
    align-items: center;
}